* {
  /* CSS HEX */
  --jet: #353535ff;
  --ming: #3c6e71ff;
  --white: #ffffffff;
  --gainsboro: #d9d9d9ff;
  --indigo-dye: #284b63ff;

  /* CSS HSL */
  --jet: hsla(0, 0%, 21%, 1);
  --ming: hsla(183, 31%, 34%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --gainsboro: hsla(0, 0%, 85%, 1);
  --indigo-dye: hsla(204, 42%, 27%, 1);
}
